.logoText {
    color: #7F7F7E;
    font-family: 'Noto Sans Georgian';
    font-weight: 350;
    font-style: normal;
    
}

.lineColor {
    color: 6A6A6A;
}

.headerBorder {
    border-bottom: 3px solid #6A6A6A;
    padding: 10px;
    
}
.headertextFont{
    font-family: 'Inter';
    
}
.headerButtonScale {
    padding: 1rem 2rem;
}

.registerButtonFont {
    font-size: 1rem;

}

.loginButtonFont {
    font-size: 1rem;

}
